{% extends "recomendr/base.html" %}

{% block content %}
<h1> Welcome to Recomendr </h1>
<p> You know what sucks? Finding interesting classes. Sure you enjoyed <emph>Bioarchaeology and the Human Skeleton</emph> but how would you find out about
<emp> Comparative Primate Morphology </emph> Recomendr is here to solve this problem. Using advanced topical models we group interesting classes together
so you don't have to. Just find your class below to get started:
<form method="get" action="/search">
<input name="course_name" id="class_search" type="text" data-provide="typeahead" autocomplete="off" class="tt-query"></input>
<button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
